@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@600&family=Mea+Culpa&family=Moo+Lah+Lah&family=Orbitron:wght@400..900&display=swap');
:root {
    --black: #000;
    --white: #fff;
    --tw-ring-color: rgb(252, 203, 44);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body {
    font-family: "Orbitron", sans-serif;
}

a{
    text-decoration: none;
}
img{
    width: 100%;
    display: block;
}
.wrapper{
    min-height: 100vh;
    background-color: var(--tw-ring-color);
    max-width: 1600px;
    margin: 0 auto;
}
.wrapper .container{
    margin: 0 auto;
    padding: 0 1rem;
}

.logo-holder{
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 1rem;
    padding: 10px;
    color: var(--white);

    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--black);
        font-size: 32px;
        height: 64px;
        width: 64px;
        border-radius: 40px;
        border: 2px solid var(--white);
    }
    logo-text{
        flex: 1;

    }
}

.nav-list{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
    list-style: none;
}

.style{
    color: var(--white);
    font-weight: 600;
    font-size: 1.1rem;
    a{
        color: var(--white);
        background-color: var(--black);
        padding: 0.5rem 1rem;
        border-radius: 9px;
    }
}

.carousel-inner img {
    max-width: 100%;
    max-height: 400px; 
    object-fit: cover; 
    margin: 0 auto;
}

.movie-search-container {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: var(--black);
}

.search-item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.search-item h2 {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
}

 .form-control{
    padding: 1rem 1rem;
    font-size: 1.4rem;
    border: none;
    outline: none;
    color: black;
    width: 500px;
}
.search-list{
    position: absolute;
    right: 0;
    top: 100%;
    max-height: 500px;
    overflow-y: scroll;
    z-index: 10;
}
.search-list .search-list-item {
    background-color: black;
    padding: 0.5rem;
    border-bottom: 1px solid black;
    width: calc(500px - 8px);
    color: #fff;
    cursor: pointer;
    transition: background-color 200ms ease;
}

.search-list .search-list-item:Hover{
    background-color: #1f1f1f;
}
.search-list-item {
    display: flex;
    align-items: center;
}

.search-item-thumbnail img{
    width: 40px;
    margin-right: 1rem;
}
.search-item-info h3{
    font-weight: 600;
    font-size: 1rem;
}
.search-item-info p{
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-weight: 600;
    opacity: 0.6;
}

.search-list::-webkit-scrollbar{
    width: 10px;
}
.search-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.search-list::-webkit-scrollbar-thumb {
    background-color: var(--white);
    outline: none;
    border-radius: 10px;
}

.hide-search-list{
    display: none;/
}

.movie-result-container{
    padding: 3rem 0;
}
.movie-poster img{
    max-width: 400px;
    margin: 0 auto;
    border: 4px solid #fff;
}
.movie-info{
    text-align: center;
    color: var(--black);
    padding-top: 3rem;
    padding: 1rem;
    font-size: 1.3rem;
}

.movie-title{
    font-size: 2rem;
    color: var(--black);
    font-weight: 600;
    text-decoration: underline;
    padding: 1rem;
}
.movie-details {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;

}

.movie-info .rated{
    background-color: var(--white);
    padding: 0.5rem;
    border-radius: 9px;
    font-weight: 600;
}

.movie-info .released{
    opacity: 0.6;
}

.movie-info .genre{
    background-color: var(--white);
    display: inline-block;
    padding: 0.5rem;
    border-radius: 9px;
}
.movie-info .plot{
    max-width: 500px;
    margin: 1rem auto;
}
.movie-info .language{
    font-style: italic;
    color: var(--white);
}
.movie-info .awards i{
    color: var(--white);
}
footer{
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

@media (min-width: 800px) {
    .search-item {
        flex-direction: row;
    }
    .search-item h3 {
        margin-bottom: 0;
    }
    .movie-result-area {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .movie-info {
        text-align: left;
        padding-top: 0;
    }
    .movie-info .movie-misc-info {
        justify-content: flex-start;
        padding-left: 0;
    }
    .movie-info .plot {
        margin-left: 0;
    }
    .movie-info .writer {
        padding-left: 0;
        margin-left: 0;
    }
}


